version: "3.1"

# This file is for development overrides (e.g. config for docker-compose up),
# not used when deploying to Swarm.
# Secrets seems to be supported in local mode regardless of what the documentation states,
# hence mounting secrets is not needed in the override.

services:

  viz:
    # Not used here, but Docker does not support removing services in override

  qix-engine:
    volumes:
      - ./data/csv:/data
      - ./data/doc:/doc

  mira:
    command: --mode=local
