version: "3.1"

# This file is for development overrides (e.g. config for docker-compose up),
# not used when deploying to Swarm.

services:
  openresty:
    command: -c /etc/nginx/compose.conf
    restart: always

  viz:
    # Not used here, but Docker does not support removing services in override

  engine:
    volumes:
      - ./data/csv:/data
      - ./data/doc:/doc

  mira:
    command: --mode=local
