# Driver to use to create the swarm nodes
# Valid values: virtualbox, hyperv, amazonec2, vmwarevsphere
export DOCKER_DRIVER=virtualbox

# Virtualbox (OSX/Windows)
export VIRTUALBOX_MEMORY_SIZE=2048

# Hyper-V (Windows only)
export HYPERV_MEMORY_SIZE=2048
# Name of your external network switch in Hyper-V (required!):
export HYPERV_VIRTUAL_SWITCH=

# VMWare VSphere
export VSPHERE_MEMORY_SIZE=4096
export VSPHERE_CPU_COUNT=1
export VSPHERE_USERNAME=
export VSPHERE_PASSWORD=
export VSPHERE_VCENTER=
export VSPHERE_HOSTSYSTEM=
export VSPHERE_NETWORK=
export VSPHERE_DATASTORE=
export VSPHERE_DATACENTER=

# Amazon EC2
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_DEFAULT_REGION=eu-west-1
export AWS_AMI=ami-6c101b0a
export AWS_INSTANCE_TYPE=t2.medium
# export AWS_EFS=nameofefsdisk.eu-west-1.amazonaws.com #Activate if a AWS EFS is used
