version: 2
jobs:
  build:
    docker:
      - image: node:7
    working_directory: ~/qliktive-custom-analytics
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "test/package.json" }}
      - run:
          name: Install dependencies
          command: npm install --quiet
          working_directory: ~/qliktive-custom-analytics/test
      - run:
          name: Run ESLint
          command: npm run lint
          working_directory: ~/qliktive-custom-analytics/test
      - save_cache:
          key: dependency-cache-{{ checksum "test/package.json" }}
          paths:
            - test/node_modules
      - run:
          name: Install Docker Compose
          command: |
            set -x
            curl -L https://github.com/docker/compose/releases/download/1.11.2/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose
      - run:
          name: Validate docker-compose files
          command: npm run validate:compose
          working_directory: ~/qliktive-custom-analytics/test
      - run:
          name: Install docker client
          command: |
            curl -L -o /tmp/docker-17.04.0-ce.tgz https://get.docker.com/builds/Linux/x86_64/docker-17.04.0-ce.tgz
            tar -xz -C /tmp -f /tmp/docker-17.04.0-ce.tgz
            mv /tmp/docker/* /usr/bin
      - setup_remote_docker
      - run:
          name: Run E2E tests on a local setup
          command: |
            echo "### Create certificates"
            ../scripts/create-certs.sh -a localhost
            echo "### Login to docker"
            docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD"
            echo "### Execute tests"
            ../scripts/run-e2e-tests-cci.sh
          working_directory: ~/qliktive-custom-analytics/test
